# Jekyll files
_site/
.jekyll-cache/
.jekyll-metadata
*.gem

# Dependency directories (optional)
.bundle/
vendor/

# Gemfile lock
Gemfile.lock

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
.env.local
