/* BusaTheme - Reset e stili base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-image: url('/assets/images/sfondo.jpg');
    background-size: 120% auto;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background: transparent;
    min-height: 100vh;
    position: relative;
    --parallax-scale: 1.2;
    --parallax-y: 0px;
}

/* Effetto parallax sul background */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/sfondo.jpg');
    background-size: calc(100% * var(--parallax-scale));
    background-position: center calc(50% + var(--parallax-y));
    background-repeat: no-repeat;
    z-index: -1;
    will-change: background-size, background-position;
}
